<div class="form-inline">
  <div class="form-group mb-2">
    <input type="text" class="form-control mr-2" placeholder="Filtrar"
    [(ngModel)]="filtroLista">
  </div>
</div>

<h5>Filtro: {{filtroLista}}</h5>
<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th><button class="btn btn-outline-primary"
        (click)="alternarImagem()">{{textoBotaoImagem}}</button></th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody  *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img *ngIf="mostrarImagem"
        src="http://localhost:5000/img/{{evento.imagemURL}}"
        [style.width.px]="imagemLargura"
        [style.margin.px]="imagemMargem"
        >
      </td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td>
        <button></button>
        <button></button>
      </td>
    </tr>
  </tbody>
  <tfoot  *ngIf="!eventos.length">
    <tr>
      <td colspan= "7" class="text-center">
        <h5>
          Nenhum Evento Encontrado!
        </h5>
      </td>
    </tr>
  </tfoot>
</table>